<!doctype html>
<html lang="en">
<div th:fragment="header-css">
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <!-- Design idea -->
    <!--    <link rel="stylesheet" type="text/css" href="css/chat.min.css" /> -->
</div>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="js/bootstrap.min.js"></script>
    <title>Chat</title>
</head>
<body>

<div class="container">
    <p><strong>Welcome to Chatty Chat!</strong></p>
    <div class="row">
        <div class="col-8">
            <form action="#" method="POST" th:action="@{/chat}" th:object="${chatForm}">
                <label for="messageText">Message Text:</label>
                <input id="messageText" th:field="*{messageText}" type="text">
                <label for="messageType">Message Type: </label>
                <select id="messageType" th:field="*{messageType}">
                    <option
                            th:each="type : ${allMessageTypes}"
                            th:text="${type}"
                            th:value="${type}"
                    >
                        Say
                    </option>
                </select>
                <input id="submit-button" type="submit">
            </form>
        </div>
        <div class="col-4">
            <a id="logout-link" th:href="@{/logout}">Logout</a>
        </div>
    </div>
</div>
<br/>
<div class="container">
    <em>Messages</em>
    <div th:each="chatMessage : ${chatMessages}">
        <span class="chatMessageUsername" th:text="${chatMessage.username}">Username</span>: <span
            class="chatMessageText"
            th:text="${chatMessage.messageText}">Hello, world!</span>
    </div>
</div>

<!-- Design idea -->
<!--    <div class="container">-->
<!--        <div class="row chat-window col-xs-5 col-md-3" id="chat_window_1" style="margin-left:10px;">-->
<!--            <div class="panel-heading top-bar">-->
<!--                <div class="col-md-8 col-xs-8">-->
<!--                    <h3 class="panel-title"><span class="glyphicon glyphicon-comment"></span> Chat - Miguel</h3>-->
<!--                </div>-->
<!--                <div class="col-md-4 col-xs-4" style="text-align: right;">-->
<!--                    <a href="#"><span id="minim_chat_window" class="glyphicon glyphicon-minus icon_minim"></span></a>-->
<!--                    <a href="#"><span class="glyphicon glyphicon-remove icon_close" data-id="chat_window_1"></span></a>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="panel-body msg_container_base">-->
<!--                <div class="row msg_container base_sent">-->
<!--                    <div class="col-md-10 col-xs-10">-->
<!--                        <div class="messages msg_sent">-->
<!--                            <p>Hello there!</p>-->
<!--                            <time datetime="2009-11-13T20:00">Timothy • 51 min</time>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-md-2 col-xs-2 avatar">-->
<!--                        <img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" class=" img-responsive ">-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="panel-footer">-->
<!--                <div class="input-group">-->
<!--                    <input id="btn-input" type="text" class="form-control input-sm chat_input" placeholder="Write your message here..." />-->
<!--                    <span class="input-group-btn">-->
<!--                            <button class="btn btn-primary btn-sm" id="btn-chat">Send</button>-->
<!--                            </span>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="btn-group dropup">-->
<!--            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">-->
<!--                <span class="glyphicon glyphicon-cog"></span>-->
<!--                <span class="sr-only">Toggle Dropdown</span>-->
<!--            </button>-->
<!--            <ul class="dropdown-menu" role="menu">-->
<!--                <li><a href="#" id="new_chat"><span class="glyphicon glyphicon-plus"></span> Novo</a></li>-->
<!--                <li><a href="#"><span class="glyphicon glyphicon-list"></span> Ver outras</a></li>-->
<!--                <li><a href="#"><span class="glyphicon glyphicon-remove"></span> Fechar Tudo</a></li>-->
<!--                <li class="divider"></li>-->
<!--                <li><a href="#"><span class="glyphicon glyphicon-eye-close"></span> Invisivel</a></li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
</body>
</html>